# SPDX-FileCopyrightText: (C) 2020 Carl Schwan <carl@carlschwan.eu>
#
# SPDX-LicenseRef: CC0-1.0
[Desktop Entry]
Name=Kontrast
Name[es]=Kontrast
Name[sv]=Kontrast
Name[uk]=Kontrast
Name[x-test]=xxKontrastxx
Comment=Contrast Checker
Comment[es]=Verificador de contraste
Comment[sv]=Kontrastkontroll
Comment[uk]=Засіб для перевірки контрастності
Comment[x-test]=xxContrast Checkerxx
Version=1.0
Exec=kontrast
MimeType=application/x-kontrast;
Icon=org.kde.kontrast
Type=Application
Terminal=false
Categories=Qt;KDE;
