# SPDX-FileCopyrightText: (C) 2020 Carl Schwan <carl@carlschwan.eu>
#
# SPDX-LicenseRef: CC0-1.0
[Desktop Entry]
Name=Kontrast
Name[ca]=Kontrast
Name[ca@valencia]=Kontrast
Name[cs]=Kontrast
Name[da]=Kontrast
Name[de]=Kontrast
Name[el]=Kontrast
Name[en_GB]=Kontrast
Name[es]=Kontrast
Name[eu]=Kontrast
Name[fi]=Kontrast
Name[fr]=Kontrast
Name[hi]=कंट्रास्ट (Kontrast)
Name[it]=Kontrast
Name[ko]=Kontrast
Name[nl]=Kontrast
Name[nn]=Kontrast
Name[pa]=ਕਨਟਰਾਸਟ
Name[pl]=Kontrast
Name[pt]=Kontrast
Name[pt_BR]=Kontrast
Name[ro]=Kontrast
Name[ru]=Kontrast
Name[sk]=Kontrast
Name[sl]=Kontrast
Name[sv]=Kontrast
Name[uk]=Kontrast
Name[x-test]=xxKontrastxx
Name[zh_CN]=Kontrast
Comment=Contrast Checker
Comment[ca]=Comprovador del contrast
Comment[ca@valencia]=Comprovador del contrast
Comment[da]=Tjek af kontrast
Comment[de]=Kontrastüberprüfung
Comment[el]=Έλεγχος αντίθεσης
Comment[en_GB]=Contrast Checker
Comment[es]=Verificador de contraste
Comment[eu]=Kontrastea egiaztatzeko tresna
Comment[fi]=Kontrastin tarkistus
Comment[fr]=Vérificateur de contraste
Comment[hi]=कंट्रास्ट जांचक
Comment[it]=Controllo del contrasto
Comment[ko]=대비 검사기
Comment[nl]=Controleprogramma op contrast
Comment[nn]=Kontrastsjekkar
Comment[pa]=ਕਨਟਰਾਸਟ ਜਾਂਚਕਾਰ
Comment[pl]=Sprawdzanie kontrastu
Comment[pt]=Verificação de Contraste
Comment[pt_BR]=Verificador de contraste
Comment[ro]=Verificator de contrast
Comment[ru]=Проверка контраста
Comment[sk]=Kontrolovač kontrastu
Comment[sl]=Kontrolor kontrasta
Comment[sv]=Kontrastkontroll
Comment[uk]=Засіб для перевірки контрастності
Comment[x-test]=xxContrast Checkerxx
Comment[zh_CN]=对比度检查工具
Version=1.0
Exec=kontrast
Icon=org.kde.kontrast
Type=Application
Terminal=false
Categories=Graphics;Qt;KDE;
