# SPDX-FileCopyrightText: (C) 2020 Carl Schwan <carl@carlschwan.eu>
#
# SPDX-LicenseRef: CC0-1.0
[Desktop Entry]
Name=Kontrast
Comment=Contrast Checker
Version=1.0
Exec=kontrast
MimeType=application/x-kontrast;
Icon=org.kde.kontrast
Type=Application
Terminal=false
Categories=Qt;KDE;
